// Some frontend developers prefer to keep layout styles in a partial, like this.

// Huh. Wouldn't it be nice if we didn't have to repeat this?
// With partials, you don't have to. Create a color variables
// partial and include it at the top.

.top {
	display: block;
	height: 80px;
	margin-left: auto;
	margin-right: auto;
	background-color: #052a3d;
	text-align: center;
	font-family: raleway-light;
	color: #f8f9eb;
	font-size: 30px;
}

.bgcolor {
	background-color: #052a3d;
	margin-top: 1px;
	color: #f8f9eb;
}

.title1 {
	font-family: raleway-light;
	font-size: 80px;
	text-align: center;
}

.guide {
	font-family: raleway-light;
	font-size: 20px;
	color: white;
	text-align: center;
}

.image1 {
	width: 80%;
	left: auto;
	right: auto;
}
